<% if local_assigns[:notes] %>
  <% notes.each do |note| %>
    <div><%= note.content %></div>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.new-note-btn').on('click', function (e) {
      e.preventDefault();
      $.get('<%= new_interface_note_path(1) %>').done(function (response) {
        $('.modal-body').html(response);
      })
    })


  })
</script>
