<div class="modal fade" id="notes-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Notes</h4>
          <%= button_to 'New Note', '#', class: 'btn btn-info new-note-btn'%>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
