<!--<header class="landing-header-1" style="background-image: url(../../assets/rrt/stock/landscape_13-eb5c767e69df055b45083f9cdcc4836428c078aeb6785ec51db0923b745bfe45.jpg)">-->
<header class="landing-header-1" style="background-image: url('/assets/nasa.jpg');">
  <div class="container">
    <div class="show-signin" data-show-signin="<%= @show_signin %>"></div>
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-landing  navbar-centered navbar-expand-lg my-3">
          <a href="javascript:" class="navbar-brand d-lg-none">
            <img width="32" height="32" class="mr-2" src="../../assets/rrt/pyrrmid_64-358e6a66b8417ea853d0507672b757411c4c7bb389cb91e8a24c71c33698ee79.png"
                 alt="Pyrrmid 64">PYRMID</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#standardLandingNavbarWithCenteredBrand" aria-controls="standardLandingNavbarWithCenteredBrand"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="standardLandingNavbarWithCenteredBrand">
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">HOME</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">ABOUT</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">TEAM</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">CONTACT</a>
              </li>
            </ul>
            <a href="javascript:" class="navbar-brand navbar-center text-center d-none d-sm-none d-md-none d-lg-block">
              <img width="32" height="32" class="mr-2" src="../../assets/rrt/pyrrmid_64-358e6a66b8417ea853d0507672b757411c4c7bb389cb91e8a24c71c33698ee79.png"
                   alt="Pyrrmid 64">IDKIPS</a>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a id="sign-in-modal-btn" class="btn btn-sm btn-outline-light text-white text-hover-dark" href="javascript:">SIGN
                  IN</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-sm btn-primary sign-up-btn" href="javascript:">SIGN UP</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container header-caption">
    <div class="row">
      <div class="col-7 mr-auto ml-auto text-center">
        <div class="text-white">
          <h1 class="mt-5 font-weight-bold leading-tight" style="color:#52ef80;">IDKIPS</h1>
          <p class="lead">Lorem ea sit vel laudantium numquam vel officiis impedit aliquam! Perspiciatis
            maiores veniam perspiciatis rem debitis.</p>
        </div>
        <a class="btn btn-primary text-white " class="register-btn">SIGN UP</a>
        <a class="btn btn-outline-secondary text-white text-hover-dark">LEARN MORE</a>
      </div>
    </div>
  </div>
</header>
<%= render partial: 'sessions/new' %>
<%= render partial: 'users/new' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#sign-in-modal-btn').on('click', function () {
      $('#sign-in-modal').modal('show');
    })

    $('.sign-up-btn').on('click', function (e) {
      e.preventDefault();
      console.log('click');
      $('#new-user-modal').modal('show');
    })
  })
</script>