<% @title = "New interface" %>

<% content_for :description do %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render partial: 'form' %>
  </div>
</div>
<!--  validation form decoration -->
<!--<div class="card-body  ">-->
<!--  <div class="form-group">-->
<!--    <label class="control-label" for="inputSuccess1">Input with success</label>-->
<!--    <input type="text" class="form-control is-valid"-->
<!--    id="inputSuccess1" title="" autofill-prediction="UNKNOWN_TYPE">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label class="control-label" for="inputError1">Input with error</label>-->
<!--    <input type="text" class="form-control is-invalid"-->
<!--    id="inputError1" title="" autofill-prediction="EMAIL_ADDRESS">-->
<!--  </div>-->
<!--  <hr>-->
<!--  <legend>With Optional Icons</legend>-->
<!--  <div class="form-group has-success has-feedback">-->
<!--    <label class="control-label" for="inputSuccess2">Input with success</label>-->
<!--    <div class="form-group has-success">-->
<!--      <input type="email" value="Success Input" class="form-control form-control-success"-->
<!--      title="" autofill-prediction="EMAIL_ADDRESS">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group has-feedback">-->
<!--    <div class="form-group has-danger">-->
<!--      <input type="email" value="Error Input" class="form-control form-control-danger"-->
<!--      title="" autofill-prediction="EMAIL_ADDRESS">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--      <div id="sidebar" class="col-12 col-md-3">-->
<!--        <ul class="nav nav-stacked nav-caret-left bg-gray-200 card small pb-2">-->
<!--          <li><h6 class="mt-3 ml-3">Sub Menu</h6></li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Vacation Days</a>-->
<!--          </li>-->
<!--          <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Salaries</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Disciplinary Items</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Firings</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->


<style>
</style>
<script type="text/javascript" charset="utf-8">
  $(function () {
  })
</script>


