<div class="navbar-header d-none d-lg-block">
  <div class="profile">
    <%#= random_avatar 60, "rounded-circle profile-image" %>
    <%= link_to interfaces_path do %>
      <%= image_tag '/assets/ipwtf-logo.png', style: 'margin: auto;', class:'ipwtf-logo' %>
    <% end %>
<!--    <div class="profile-body">-->
<!--      <h6><%#= current_user.full_name if user_signed_in? %></h6>-->
<!--      <div class="user-links">-->
<!--        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile">-->
          <%#= theme_icon_tag "user" %>
<!--        </a>-->
<!--        <a class="btn btn-link" href="mailto:bshyman@gmail.com'" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages Eventually, Email me for now">-->
          <%#= theme_icon_tag "email" %>
<!--        </a>-->
<!--        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings">-->
          <%#= theme_icon_tag "settings" %>
<!--        </a>-->
<!--        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout">-->
          <%#= theme_icon_tag "power-off" %>
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
</div>
